<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Military surplus warehouse</title>
</head>
<body>
 <h1>Welcome to the Military's surplus</h1>
 <h2>We got everything that you could want in stock</h2>
 <p>Login below to view the our selection of products</p>

 <form class="flex flex-col justify-center 
                 items-center mt-5" 
          id="form">
        <input class="border border-gray-400 
                      rounded-md mt-5 p-1" 
               type="text" 
               placeholder="Name" 
               id="myname">
        <input class="border border-gray-400 
                      rounded-md mt-5 p-1" 
               type="text" 
               placeholder="password" 
               id="mypassword">
        <button class="bg-blue-500 rounded-md p-2 
                       text-white mt-5">
              login
          </button>
    </form>



    <a href="/templates/password_reset.html">password_reset</a>
</body>
</html>