<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Military Surplus Warehouse</title>
</head>
<body>
    <h1>Welcome to the Military's Surplus</h1>
    <h2>We got everything that you could want in stock</h2>
    <p>Login below to view our selection of products <a href="/login">login</a></p>
    
    <p>Don't have an account? <a href="/register">Register here</a></p>

    <a href="/password_reset.html">Forgot Password?</a>
</body>
</html>
